//  Gray
//  ───────────────────────────────────

$oc-gray-list: (
  '0': #bbc2c7,
  '1': #ccd0d3,
  '2': #ced4da,
  '3': #adb5bd,
  '4': #868e96,
  '5': #495057,
  '6': #696969,
  '7': #343a40);

$oc-gray-0: map-get($oc-gray-list, '0');
$oc-gray-1: map-get($oc-gray-list, '1');
$oc-gray-2: map-get($oc-gray-list, '2');
$oc-gray-3: map-get($oc-gray-list, '3');
$oc-gray-4: map-get($oc-gray-list, '4');
$oc-gray-5: map-get($oc-gray-list, '5');
$oc-gray-6: map-get($oc-gray-list, '6');
$oc-gray-7: map-get($oc-gray-list, '7');

//  Red
//  ───────────────────────────────────

$oc-red-list: (
  '0': #ffc9c9,
  '1': #ffa8a8,
  '2': #ff8787,
  '3': #ff6b6b,
  '4': #fa5252,
  '5': #f03e3e,
  '6': #e03131,
  '7': #c92a2a);

$oc-red-0: map-get($oc-red-list, '0');
$oc-red-1: map-get($oc-red-list, '1');
$oc-red-2: map-get($oc-red-list, '2');
$oc-red-3: map-get($oc-red-list, '3');
$oc-red-4: map-get($oc-red-list, '4');
$oc-red-5: map-get($oc-red-list, '5');
$oc-red-6: map-get($oc-red-list, '6');
$oc-red-7: map-get($oc-red-list, '7');

//  Pink
//  ───────────────────────────────────

$oc-pink-list: (
  '0': #fcc2d7,
  '1': #faa2c1,
  '2': #f783ac,
  '3': #f06595,
  '4': #e64980,
  '5': #d6336c,
  '6': #c2255c,
  '7': #a61e4d);

$oc-pink-0: map-get($oc-pink-list, '0');
$oc-pink-1: map-get($oc-pink-list, '1');
$oc-pink-2: map-get($oc-pink-list, '2');
$oc-pink-3: map-get($oc-pink-list, '3');
$oc-pink-4: map-get($oc-pink-list, '4');
$oc-pink-5: map-get($oc-pink-list, '5');
$oc-pink-6: map-get($oc-pink-list, '6');
$oc-pink-7: map-get($oc-pink-list, '7');

//  Grape
//  ───────────────────────────────────

$oc-grape-list: (
  '0': #eebefa,
  '1': #e599f7,
  '2': #da77f2,
  '3': #cc5de8,
  '4': #be4bdb,
  '5': #ae3ec9,
  '6': #9c36b5,
  '7': #862e9c);

$oc-grape-0: map-get($oc-grape-list, '0');
$oc-grape-1: map-get($oc-grape-list, '1');
$oc-grape-2: map-get($oc-grape-list, '2');
$oc-grape-3: map-get($oc-grape-list, '3');
$oc-grape-4: map-get($oc-grape-list, '4');
$oc-grape-5: map-get($oc-grape-list, '5');
$oc-grape-6: map-get($oc-grape-list, '6');
$oc-grape-7: map-get($oc-grape-list, '7');

//  Violet
//  ───────────────────────────────────

$oc-violet-list: (
  '0': #d0bfff,
  '1': #b197fc,
  '2': #9775fa,
  '3': #845ef7,
  '4': #7950f2,
  '5': #7048e8,
  '6': #6741d9,
  '7': #5f3dc4);

$oc-violet-0: map-get($oc-violet-list, '0');
$oc-violet-1: map-get($oc-violet-list, '1');
$oc-violet-2: map-get($oc-violet-list, '2');
$oc-violet-3: map-get($oc-violet-list, '3');
$oc-violet-4: map-get($oc-violet-list, '4');
$oc-violet-5: map-get($oc-violet-list, '5');
$oc-violet-6: map-get($oc-violet-list, '6');
$oc-violet-7: map-get($oc-violet-list, '7');

//  Indigo
//  ───────────────────────────────────

$oc-indigo-list: (
  '0': #bac8ff,
  '1': #91a7ff,
  '2': #748ffc,
  '3': #5c7cfa,
  '4': #4c6ef5,
  '5': #4263eb,
  '6': #3b5bdb,
  '7': #364fc7);

$oc-indigo-0: map-get($oc-indigo-list, '0');
$oc-indigo-1: map-get($oc-indigo-list, '1');
$oc-indigo-2: map-get($oc-indigo-list, '2');
$oc-indigo-3: map-get($oc-indigo-list, '3');
$oc-indigo-4: map-get($oc-indigo-list, '4');
$oc-indigo-5: map-get($oc-indigo-list, '5');
$oc-indigo-6: map-get($oc-indigo-list, '6');
$oc-indigo-7: map-get($oc-indigo-list, '7');

//  Blue
//  ───────────────────────────────────

$oc-blue-list: (
  '0': #a5d8ff,
  '1': #74c0fc,
  '2': #4dabf7,
  '3': #339af0,
  '4': #228be6,
  '5': #1c7ed6,
  '6': #1971c2,
  '7': #1864ab);

$oc-blue-0: map-get($oc-blue-list, '0');
$oc-blue-1: map-get($oc-blue-list, '1');
$oc-blue-2: map-get($oc-blue-list, '2');
$oc-blue-3: map-get($oc-blue-list, '3');
$oc-blue-4: map-get($oc-blue-list, '4');
$oc-blue-5: map-get($oc-blue-list, '5');
$oc-blue-6: map-get($oc-blue-list, '6');
$oc-blue-7: map-get($oc-blue-list, '7');

//  Cyan
//  ───────────────────────────────────

$oc-cyan-list: (
  '0': #99e9f2,
  '1': #66d9e8,
  '2': #3bc9db,
  '3': #22b8cf,
  '4': #15aabf,
  '5': #1098ad,
  '6': #0c8599,
  '7': #0b7285);

$oc-cyan-0: map-get($oc-cyan-list, '0');
$oc-cyan-1: map-get($oc-cyan-list, '1');
$oc-cyan-2: map-get($oc-cyan-list, '2');
$oc-cyan-3: map-get($oc-cyan-list, '3');
$oc-cyan-4: map-get($oc-cyan-list, '4');
$oc-cyan-5: map-get($oc-cyan-list, '5');
$oc-cyan-6: map-get($oc-cyan-list, '6');
$oc-cyan-7: map-get($oc-cyan-list, '7');

//  Teal
//  ───────────────────────────────────

$oc-teal-list: (
  '0': #96f2d7,
  '1': #63e6be,
  '2': #38d9a9,
  '3': #20c997,
  '4': #12b886,
  '5': #0ca678,
  '6': #099268,
  '7': #087f5b);

$oc-teal-0: map-get($oc-teal-list, '0');
$oc-teal-1: map-get($oc-teal-list, '1');
$oc-teal-2: map-get($oc-teal-list, '2');
$oc-teal-3: map-get($oc-teal-list, '3');
$oc-teal-4: map-get($oc-teal-list, '4');
$oc-teal-5: map-get($oc-teal-list, '5');
$oc-teal-6: map-get($oc-teal-list, '6');
$oc-teal-7: map-get($oc-teal-list, '7');

//  Green
//  ───────────────────────────────────

$oc-green-list: (
  '0': #b2f2bb,
  '1': #8ce99a,
  '2': #69db7c,
  '3': #51cf66,
  '4': #40c057,
  '5': #37b24d,
  '6': #2f9e44,
  '7': #2b8a3e);

$oc-green-0: map-get($oc-green-list, '0');
$oc-green-1: map-get($oc-green-list, '1');
$oc-green-2: map-get($oc-green-list, '2');
$oc-green-3: map-get($oc-green-list, '3');
$oc-green-4: map-get($oc-green-list, '4');
$oc-green-5: map-get($oc-green-list, '5');
$oc-green-6: map-get($oc-green-list, '6');
$oc-green-7: map-get($oc-green-list, '7');

//  Lime
//  ───────────────────────────────────

$oc-lime-list: (
  '0': #d8f5a2,
  '1': #c0eb75,
  '2': #a9e34b,
  '3': #94d82d,
  '4': #82c91e,
  '5': #74b816,
  '6': #66a80f,
  '7': #5c940d);

$oc-lime-0: map-get($oc-lime-list, '0');
$oc-lime-1: map-get($oc-lime-list, '1');
$oc-lime-2: map-get($oc-lime-list, '2');
$oc-lime-3: map-get($oc-lime-list, '3');
$oc-lime-4: map-get($oc-lime-list, '4');
$oc-lime-5: map-get($oc-lime-list, '5');
$oc-lime-6: map-get($oc-lime-list, '6');
$oc-lime-7: map-get($oc-lime-list, '7');

//  Yellow
//  ───────────────────────────────────

$oc-yellow-list: (
  '0': #ffec99,
  '1': #ffe066,
  '2': #ffd43b,
  '3': #fcc419,
  '4': #fab005,
  '5': #f59f00,
  '6': #f08c00,
  '7': #e67700);

$oc-yellow-0: map-get($oc-yellow-list, '0');
$oc-yellow-1: map-get($oc-yellow-list, '1');
$oc-yellow-2: map-get($oc-yellow-list, '2');
$oc-yellow-3: map-get($oc-yellow-list, '3');
$oc-yellow-4: map-get($oc-yellow-list, '4');
$oc-yellow-5: map-get($oc-yellow-list, '5');
$oc-yellow-6: map-get($oc-yellow-list, '6');
$oc-yellow-7: map-get($oc-yellow-list, '7');

//  Orange
//  ───────────────────────────────────

$oc-orange-list: (
  '0': #ffd8a8,
  '1': #ffc078,
  '2': #ffa94d,
  '3': #ff922b,
  '4': #fd7e14,
  '5': #f76707,
  '6': #e8590c,
  '7': #d9480f);

$oc-orange-0: map-get($oc-orange-list, '0');
$oc-orange-1: map-get($oc-orange-list, '1');
$oc-orange-2: map-get($oc-orange-list, '2');
$oc-orange-3: map-get($oc-orange-list, '3');
$oc-orange-4: map-get($oc-orange-list, '4');
$oc-orange-5: map-get($oc-orange-list, '5');
$oc-orange-6: map-get($oc-orange-list, '6');
$oc-orange-7: map-get($oc-orange-list, '7');

//  Brown
//  ───────────────────────────────────

$oc-brown-list: (
  '0': #f5deb3,
  '1': #deb887,
  '2': #d2b48c,
  '3': #cd853f,
  '4': #cd853f,
  '5': #a0522d,
  '6': #8b4513,
  '7': #a52a2a);

$oc-brown-0: map-get($oc-brown-list, '0');
$oc-brown-1: map-get($oc-brown-list, '1');
$oc-brown-2: map-get($oc-brown-list, '2');
$oc-brown-3: map-get($oc-brown-list, '3');
$oc-brown-4: map-get($oc-brown-list, '4');
$oc-brown-5: map-get($oc-brown-list, '5');
$oc-brown-6: map-get($oc-brown-list, '6');
$oc-brown-7: map-get($oc-brown-list, '7');

//  Color list
//  ───────────────────────────────────

$oc-color-list: (
  $oc-gray-list: 'gray',
  $oc-red-list: 'red',
  $oc-pink-list: 'pink',
  $oc-grape-list: 'grape',
  $oc-violet-list: 'violet',
  $oc-indigo-list: 'indigo',
  $oc-blue-list: 'blue',
  $oc-cyan-list: 'cyan',
  $oc-teal-list: 'teal',
  $oc-green-list: 'green',
  $oc-lime-list: 'lime',
  $oc-yellow-list: 'yellow',
  $oc-orange-list: 'orange',
  $oc-brown-list: 'brown'
);

@each $name, $glyph in $oc-color-list {
  @for $i from 0 through 7 {

    .icon-#{$glyph}-#{$i} {
      color: map-get($name, #{$i});
    }
  }
}
